body {
    background-color: crimson;
    background-image: url(./bilder/linus-belanger-DNeLO-B3jrw-unsplash.jpg);
    background-size: cover;
}
h1 {
    color: blueviolet;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
p {
    color: blueviolet;
    font-size: 30px;
}